*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    font-size: 14px;
    font-family: Montserrat;
    display: flex;
    padding: 20px;
} 


.sidebar{
    background: #1e2939;
    width: 370px;
    padding: 40px 0;
}

img{
    width: 370px;
}
.sidebar__container{
    margin: 50px 40px 0px 40px;
}
.sidebar__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.sidebar__link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #434c5a;
}

.sidebar__link--type{
    color: #fff;
    margin-right: 10px;
    font-weight: 700;
}

.sidebar__tech-skills{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}
.sidebar__item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.sidebar__tech-skills--color{
    color: #fff;
    margin-left: 15px;
}
.my-information{
    background-color: red;
    padding: 110px 90px 110px 90px;
}
